<section class="Section l-column">
  <div class="Section__head">
    <h2 class="sectionLabel">News</h2>
  </div>
  <ol class="NewsList">
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-06-16">2017.06.16</time>
      <span class="NewsList__body">リリース v0.19.0</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-06-13">2017.06.13</time>
      <span class="NewsList__body">リリース v0.18.0</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-06-08">2017.06.08</time>
      <span class="NewsList__body">リリース v0.16.0</span>
    </li>  
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-06-06">2017.06.06</time>
      <span class="NewsList__body">リリース v0.15.0</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-06-06">2017.06.06</time>
      <span class="NewsList__body">リリース v0.14.0</span>
    </li>
  </ol>
</section>

<section class="Section l-column">
  <h2 class="sectionLabel l-column">Presentation</h2>
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51C34SBeWGL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250'), html_css_book_index_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">HTMLCSSBook</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/dp/B01K3SZGR0/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank">現場のプロが本気で教える HTML/CSSデザイン講義</a>写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/html_css_book/html_css_book.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51mCP2KuJmL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250'), bootstraps_dashboard_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">Bootstrap</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/UI%E3%81%BE%E3%81%A7%E6%89%8B%E3%81%AE%E5%9B%9E%E3%82%89%E3%81%AA%E3%81%84%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AEBootstrap-3%E5%AE%9F%E7%94%A8%E3%82%AC%E3%82%A4%E3%83%89-%E5%A4%A7%E6%BE%A4-%E6%96%87%E5%AD%9D/dp/4798135992?SubscriptionId=AKIAJHIW37ZKUSXUZTHQ&tag=sakuratan05-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=4798135992">UIまで手の回らないプログラマのためのBootstrap 3実用ガイド</a>　写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/bootstrap/bootstrap.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Section l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51eqFswB%2BFL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250'), javascripts_top_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">JavaScriptSamples</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/JavaScript-%E4%BB%95%E4%BA%8B%E3%81%AE%E7%8F%BE%E5%A0%B4%E3%81%A7%E3%82%B5%E3%83%83%E3%81%A8%E4%BD%BF%E3%81%88%E3%82%8B-%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E6%95%99%E7%A7%91%E6%9B%B8-Web%E3%83%87%E3%82%B6%E3%82%A4%E3%83%8A%E3%83%BC%E9%A4%8A%E6%88%90%E8%AC%9B%E5%BA%A7-%E6%9F%B3%E4%BA%95-%E6%94%BF%E5%92%8C/dp/4774174424?SubscriptionId=AKIAJHIW37ZKUSXUZTHQ&tag=sakuratan05-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=4774174424">JavaScript　仕事の現場でサッと使える! デザイン教科書 (Webデザイナー養成講座) </a>　写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/javascript/javascript.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51YKJDlJKvL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250'), css_base_top_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">CSS Base</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/%E3%81%82%E3%81%82%E3%81%97%E3%81%9F%E3%81%84%E3%80%81%E3%81%93%E3%81%86%E5%A4%89%E3%81%88%E3%81%9F%E3%81%84%E3%81%8C%E6%89%8B%E3%81%AB%E3%81%A8%E3%82%8B%E3%82%88%E3%81%86%E3%81%AB%E3%82%8F%E3%81%8B%E3%82%8B-CSS%E5%9F%BA%E7%A4%8E-%E8%B5%A4%E9%96%93-%E5%85%AC%E5%A4%AA%E9%83%8E/dp/4844365126?SubscriptionId=AKIAJHIW37ZKUSXUZTHQ&tag=sakuratan05-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=4844365126">ああしたい、こう変えたいが手にとるようにわかる CSS基礎 </a>　写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/css_base/css_base.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Section l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51-exJvkvqL._AA200_.jpg' , width: '150' , height: '150'), sass_base_top_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">Sass Base</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/Web%E5%88%B6%E4%BD%9C%E8%80%85%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AESass%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8-%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89%E3%81%AEWeb%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E7%8F%BE%E5%A0%B4%E3%81%A7%E5%BF%85%E9%A0%88%E3%81%AECSS%E3%83%A1%E3%82%BF%E8%A8%80%E8%AA%9E-Web%E5%88%B6%E4%BD%9C%E8%80%85%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E5%B9%B3%E6%BE%A4-%E9%9A%86-ebook/dp/B00FMLD7UC?SubscriptionId=AKIAJHIW37ZKUSXUZTHQ&tag=sakuratan05-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00FMLD7UC">Web制作者のためのSassの教科書 これからのWebデザインの現場で必須のCSSメタ言語 Web制作者のための教科書シリーズ </a>　写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/sass_base/sass_base.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51nSEOKWSrL._AA200_.jpg' , width: '150' , height: '150'), css_design_top_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">CSS Design</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/dp/B00M0ESXUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Web制作者のためのCSS設計の教科書 モダンWeb開発に欠かせない「修正しやすいCSS」の設計手法 Web制作者のための教科書シリーズ </a>　写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/css_design/css_design.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Section l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('http://capture.heartrails.com/200x150/cool?http://postd.cc/getting-started-with-tdd-in-react',class: 'EntryPanel__thumb' , width: '275' , height: '250'), beer_lists_beer_list_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">BeerList: React TDD</h3>
        <div class="EntryPanel__body">
          <a href="http://postd.cc/getting-started-with-tdd-in-react/" target="_blank">React TDD</a>写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/dev/beer_list/beer_list.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('http://capture.heartrails.com/200x150/cool?https://facebook.github.io/react/',class: 'EntryPanel__thumb' , width: '275' , height: '250'), intro_to_reacts_intro_to_react_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">Tutorial:Intro To React</h3>
        <div class="EntryPanel__body">
          <a href="https://facebook.github.io/react/tutorial/tutorial.html" target="_blank">React Tutorial</a>写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/intro_to_react/intro_to_react.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Section l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51HkQMzISkL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250'), react_beginners_guide_excel_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">ReactBeginner'sGuide</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/React%E3%83%93%E3%82%AE%E3%83%8A%E3%83%BC%E3%82%BA%E3%82%AC%E3%82%A4%E3%83%89-%E3%82%B3%E3%83%B3%E3%83%9D%E3%83%BC%E3%83%8D%E3%83%B3%E3%83%88%E3%83%99%E3%83%BC%E3%82%B9%E3%81%AE%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E9%96%8B%E7%99%BA%E5%85%A5%E9%96%80-Stoyan-Stefanov/dp/4873117887/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1495764809&sr=8-1&keywords=React+%E3%83%93%E3%82%AE%E3%83%8A%E3%83%BC%E3%82%BA%E3%82%AC%E3%82%A4%E3%83%89">Reactビギナーズガイド ―コンポーネントベースのフロントエンド開発入門</a>　Excelコンポーネント写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/react_beginners_guide/excel.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51HkQMzISkL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250'), react_beginners_guide_whinepad_index_path, target: "_blank" %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">ReactBeginner'sGuide</h3>
        <div class="EntryPanel__body">
          <a href="https://www.amazon.co.jp/React%E3%83%93%E3%82%AE%E3%83%8A%E3%83%BC%E3%82%BA%E3%82%AC%E3%82%A4%E3%83%89-%E3%82%B3%E3%83%B3%E3%83%9D%E3%83%BC%E3%83%8D%E3%83%B3%E3%83%88%E3%83%99%E3%83%BC%E3%82%B9%E3%81%AE%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E9%96%8B%E7%99%BA%E5%85%A5%E9%96%80-Stoyan-Stefanov/dp/4873117887/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1495764809&sr=8-1&keywords=React+%E3%83%93%E3%82%AE%E3%83%8A%E3%83%BC%E3%82%BA%E3%82%AC%E3%82%A4%E3%83%89">Reactビギナーズガイド ―コンポーネントベースのフロントエンド開発入門</a>　Whinepadコンポーネント写経
        </div>
        <div class="EntryPanel__foot">
          <a href="https://k2works.github.io/etude_for_rails/dev/react_beginners_guide/whinepad.html" class="button" target="_blank">READ SPEC</a>
        </div>
      </div>
    </div>
  </div>

  <section class="Section l-column">
    <h2 class="sectionLabel l-column">Domain</h2>
    <div class="l-row">
      <div class="EntryPanel l-halfColumn">
        <div class="EntryPanel__sub">
          <%= image_tag('https://images-fe.ssl-images-amazon.com/images/I/51-dAD2L2gL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
        </div>
        <div id="EntryPanel__main">
          <h3 class="EntryPanel__head">BowlingGame</h3>
          <div class="EntryPanel__body">
            <a href="https://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E5%A5%A5%E7%BE%A9-%E7%AC%AC2%E7%89%88-%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E9%96%8B%E7%99%BA%E3%81%AE%E7%A5%9E%E9%AB%84%E3%81%A8%E5%8C%A0%E3%81%AE%E6%8A%80-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBC%E3%83%BB%E3%83%9E%E3%83%BC%E3%83%81%E3%83%B3/dp/4797347783?SubscriptionId=AKIAJHIW37ZKUSXUZTHQ&tag=sakuratan05-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=4797347783">アジャイルソフトウェア開発の奥義 第2版 オブジェクト指向開発の神髄と匠の技</a>　ボーリングゲーム 写経
          </div>
          <div class="EntryPanel__foot">
            <a href="https://k2works.github.io/etude_for_rails/dev/bowling_game/bowling_game.html" class="button" target="_blank">READ SPEC</a>
          </div>
        </div>
      </div>
      <div class="EntryPanel l-halfColumn">
        <div class="EntryPanel__sub">
          <%= image_tag('https://images-fe.ssl-images-amazon.com/images/I/51-dAD2L2gL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
        </div>
        <div id="EntryPanel__main">
          <h3 class="EntryPanel__head">Payroll</h3>
          <div class="EntryPanel__body">
            <a href="https://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E5%A5%A5%E7%BE%A9-%E7%AC%AC2%E7%89%88-%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E9%96%8B%E7%99%BA%E3%81%AE%E7%A5%9E%E9%AB%84%E3%81%A8%E5%8C%A0%E3%81%AE%E6%8A%80-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBC%E3%83%BB%E3%83%9E%E3%83%BC%E3%83%81%E3%83%B3/dp/4797347783?SubscriptionId=AKIAJHIW37ZKUSXUZTHQ&tag=sakuratan05-22&linkCode=xm2&camp=2025&creative=165953&creativeASIN=4797347783">アジャイルソフトウェア開発の奥義 第2版 オブジェクト指向開発の神髄と匠の技</a>　給与計算アプリケーションのケーススタディ 写経
          </div>
          <div class="EntryPanel__foot">
            <a href="https://k2works.github.io/etude_for_rails/dev/payroll/payroll.html" class="button" target="_blank">READ SPEC</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Section l-column">
    <div class="l-row">
      <div class="EntryPanel l-halfColumn">
        <div class="EntryPanel__sub">
          <%= image_tag('https://images-fe.ssl-images-amazon.com/images/I/51nTwl4%2B1DL._AA200_.jpg',class: 'EntryPanel__thumb' , width: '150' , height: '150') %>
        </div>
        <div id="EntryPanel__main">
          <h3 class="EntryPanel__head">RentalVideo</h3>
          <div class="EntryPanel__body">
            <a href="https://www.amazon.co.jp/%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0-Ruby%E3%82%A8%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%B3-Jay-Fields/dp/4048678841">リファクタリング:Rubyエディション</a>　最初のサンプル 写経
          </div>
          <div class="EntryPanel__foot">
            <a href="https://k2works.github.io/etude_for_rails/dev/rental_video/rental_video.html" class="button" target="_blank">READ SPEC</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Section l-column">
    <h2 class="sectionLabel l-column">Application</h2>
    <div class="l-row">
      <div class="EntryPanel l-halfColumn">
        <div class="EntryPanel__sub">
          <%= image_tag('https://images-fe.ssl-images-amazon.com/images/I/51cKHvMrPNL.jpg',class: 'EntryPanel__thumb' , width: '150' , height: '150') %>
        </div>
        <div id="EntryPanel__main">
          <h3 class="EntryPanel__head">BowlingGame</h3>
          <div class="EntryPanel__body">
            <a href="https://www.amazon.co.jp/dp/B00P0UR1CA/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">パーフェクトRuby</a>　Todo管理アプリケーション 写経
          </div>
          <div class="EntryPanel__foot">
            <a href="https://k2works.github.io/etude_for_rails/dev/todo/todo.html" class="button" target="_blank">READ SPEC</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>