@charset 'utf-8';

// ===========================
// Base
// ===========================
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.ttf') format('truetype');
}
@import "./base/variables";
@import "./base/mixins";
@import "./base/reset";

// ===========================
// Components
// ===========================

// Parts
//----------------------------
// レイアウト
@import "./components/parts/layouts";

// ボタン
@import "./components/parts/buttons";

// ラベル、見出し
@import "./components/parts/labels";

// フッター
@import "./components/common/footer";

// Common
//----------------------------
// ヘッダー
@import "./components/common/header";

// メニュー
@import "./components/common/menu";

// セクション分け
@import "./components/common/section";

// SNS
@import "./components/common/sns";

// Others
//----------------------------
// ブログ抜粋
@import "./components/entryPanel";

// カルーセル
@import "./components/imageSlide";

// 写真背景パネル
@import "./components/overlayPanel";

// アイコンつき説明パネル
@import "./components/iconPanel";

// おしらせ一覧
@import "./components/newsList";

// フォーム
@import "./components/form";

// font-awesome
@import "font-awesome";

//BootStrap
@import "bootstrap-sprockets";
@import "components/bootstrap-custom";

// ===========================
// Pages
// ===========================
@import "./pages/html_css_book/index";
@import "./pages/html_css_book/campaign";
@import "./pages/html_css_book/article";

@import "./pages/excel/excel";

@import "./pages/intro_to_reacts/intro_to_reacts";

@import "./pages/bootstraps/dashboard";
@import "./pages/bootstraps/java_script";

@import "./pages/javascripts/samples";

@import "./pages/css_base/css_base";
@import "./pages/css_base/chapter04";
@import "./pages/css_base/chapter05";
@import "./pages/css_base/chapter06";
@import "./pages/css_base/chapter07";
@import "./pages/css_base/chapter08";
@import "./pages/css_base/sample_10_01";
@import "./pages/css_base/sample_10_02";
@import "./pages/css_base/sample_10_03";

@import "./pages/sass_base/chap3";
@import "./pages/sass_base/chap4";

@import "./pages/css_design/css_design";
@import "./pages/css_design/css_styleguide";

// ===========================
// Utils
// ===========================
// サイズ、余白などの便利class
@import "./utils/arrangements";